TraderService/TraderServiceTests/Connected Services/TraderService/TraderService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TraderService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:23379/TraderService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:23379/TraderService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:23379/TraderService.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITraderService_GetInvestmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentList" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetInvestmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentListResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCostBasisPerShare_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCostBasisPerShare" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCostBasisPerShare_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCostBasisPerShareResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCurrentValue_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentValue" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCurrentValue_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentValueResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCurrentPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPrice" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetCurrentPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCurrentPriceResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetInvestmentTerm_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentTerm" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetInvestmentTerm_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvestmentTermResponse" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetGainLoss_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGainLoss" />
  </wsdl:message>
  <wsdl:message name="ITraderService_GetGainLoss_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGainLossResponse" />
  </wsdl:message>
  <wsdl:portType name="ITraderService">
    <wsdl:operation name="GetInvestmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetInvestmentList" message="tns:ITraderService_GetInvestmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetInvestmentListResponse" message="tns:ITraderService_GetInvestmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCostBasisPerShare">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetCostBasisPerShare" message="tns:ITraderService_GetCostBasisPerShare_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetCostBasisPerShareResponse" message="tns:ITraderService_GetCostBasisPerShare_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentValue">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetCurrentValue" message="tns:ITraderService_GetCurrentValue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetCurrentValueResponse" message="tns:ITraderService_GetCurrentValue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetCurrentPrice" message="tns:ITraderService_GetCurrentPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetCurrentPriceResponse" message="tns:ITraderService_GetCurrentPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentTerm">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetInvestmentTerm" message="tns:ITraderService_GetInvestmentTerm_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetInvestmentTermResponse" message="tns:ITraderService_GetInvestmentTerm_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGainLoss">
      <wsdl:input wsaw:Action="http://tempuri.org/ITraderService/GetGainLoss" message="tns:ITraderService_GetGainLoss_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITraderService/GetGainLossResponse" message="tns:ITraderService_GetGainLoss_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITraderService" type="tns:ITraderService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInvestmentList">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetInvestmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCostBasisPerShare">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetCostBasisPerShare" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentValue">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetCurrentValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCurrentPrice">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetCurrentPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvestmentTerm">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetInvestmentTerm" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGainLoss">
      <soap:operation soapAction="http://tempuri.org/ITraderService/GetGainLoss" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TraderService">
    <wsdl:port name="BasicHttpBinding_ITraderService" binding="tns:BasicHttpBinding_ITraderService">
      <soap:address location="http://localhost:23379/TraderService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>